
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonLabel">Create or edit a Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.person.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.person.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.person.firstName"
                    required />
            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.person.lastName"
                    required />
            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_growCount">Grow Count</label>
            <input type="number" class="form-control" name="growCount" id="field_growCount"
                    ng-model="vm.person.growCount"
                    required min="0" />
            <div ng-show="editForm.growCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.growCount.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.growCount.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.growCount.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createCount">Create Count</label>
            <input type="number" class="form-control" name="createCount" id="field_createCount"
                    ng-model="vm.person.createCount"
                    required min="0" />
            <div ng-show="editForm.createCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.createCount.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createCount.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.createCount.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_togetherCount">Together Count</label>
            <input type="number" class="form-control" name="togetherCount" id="field_togetherCount"
                    ng-model="vm.person.togetherCount"
                    required min="0" />
            <div ng-show="editForm.togetherCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.togetherCount.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.togetherCount.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.togetherCount.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_expressCount">Express Count</label>
            <input type="number" class="form-control" name="expressCount" id="field_expressCount"
                    ng-model="vm.person.expressCount"
                    required min="0" />
            <div ng-show="editForm.expressCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.expressCount.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.expressCount.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.expressCount.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
